/*-- header --*/

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

.header__menu {
  font-size: 18px;
}

.address {
  font-size: 18px;
  line-height: 1.35em;
}

.header__link-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  white-space: nowrap; /* Мб заменить на более граммотное */
}

.header__link-item {
  border-bottom: 1px solid #000;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  border-bottom: none;
  list-style: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: right;
}

.header__address a {
  border-bottom: 1px solid currentColor; /* Фикс подчеркивания, цвет берем такой же как и в address*/
}

/*-- end header --*/
