.text {
  color: #FFF;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2em; 
}

.text-heading {
  color: #FFF;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.text-sibline {
  font-size: 22px;
  line-height: 1.27em; 
  text-transform: uppercase;
}

.text_black {
  color: #000;
}
